**/node_modules
**/.next
# Dependencies
node_modules
/.pnp
.pnp.js

# Next.js build output
.next/
/out/

# Next.js cache
.next/cache
/.next/static

# Build output
dist/
build/

# Static files cache (if using next export)
out/

# Testing
coverage/
.nyc_output/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Optional npm cache
.npm

# MacOS system files
*.DS_Store

# Package lock files (if using yarn or pnpm)
yarn.lock
package-lock.json
pnpm-lock.yaml

# Lerna
lerna-debug.log

# TypeScript cache
*.tsbuildinfo

# ESLint cache
.eslintcache

# Styled Components cache
.next/cache

# Optional build artifacts
*.swp
*.swo
